<!--**********************************
            Nav header start
        ***********************************-->
<div class="nav-header">
    <a href="./" class="brand-logo">
        <img src="./assets/images/logo-full.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar">
                        Dashboard
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <!-- <li><a href="./" class="ai-icon">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Trang quản trị</span>
                </a>
            </li> -->
            <li><a href="./?page=orders" class="ai-icon">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Đơn hàng</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()">
                    <i class="flaticon-381-menu"></i>
                    <span class="nav-text">Sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./?page=products">Sản phẩm</a></li>
                    <li><a href="./?page=categories">Danh mục</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->